test-workflows/technical-ai-nodes-demo.json
{
  "name": "Technical AI Nodes Demo",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://github.com/n8n-io/n8n",
        "extractionMode": "intelligent",
        "selectors": "",
        "extractPrompt": "Extract information about n8n features, pricing, and key capabilities",
        "followLinks": false,
        "maxPages": 1
      },
      "id": "ai-web-scraper",
      "name": "AI Web Scraper",
      "type": "n8n-nodes-base.aiWebScraper",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "language": "javascript",
        "codeType": "function",
        "requirements": "Create a simple function to process the scraped data: {{ $json.extractedData }}",
        "codeStyle": "modern",
        "includeComments": true
      },
      "id": "ai-code-generator",
      "name": "AI Code Generator",
      "type": "n8n-nodes-base.aiCodeGenerator",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "workflowData": "{{ $json }}",
        "orchestrationGoal": "Create a workflow that processes the generated code and validates its quality",
        "optimizationLevel": "standard"
      },
      "id": "ai-workflow-orchestrator",
      "name": "AI Workflow Orchestrator",
      "type": "n8n-nodes-base.aiWorkflowOrchestrator",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "AI Web Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Web Scraper": {
      "main": [
        [
          {
            "node": "AI Code Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Code Generator": {
      "main": [
        [
          {
            "node": "AI Workflow Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-07T12:00:00.000Z",
  "updatedAt": "2025-01-07T12:00:00.000Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": ["ai", "technical", "automation"]
}
